<!doctype html>
<html lang="{{ site.language }}">
<head>
    {% block head %}{% include 'layouts/helpers/head.twig' %}{% endblock %}
    {{ wp_head }}
</head>
<body {{ fn('body_class') }}>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MMXQN2N"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% block header %}{% include 'layouts/helpers/header.twig' %}{% endblock %}

{% block content %}{{ post.content }}{% endblock %}

{% block footer %}{% include 'layouts/helpers/footer.twig' %}{% endblock footer %}

{{ wp_footer }}
</body>
</html>
