<h2 class="site-title">
    <a href="{{ site.link }}" title="{{ __('Home') }}">
        {{ fn('get_bloginfo', 'name') }}
    </a>
</h2>
<h4 class="site-subtitle" hidden aria-hidden="true">
    <a href="{{ site.link }}" title="{{ __('Home') }}">
        {{ fn('get_bloginfo', 'description') }}
    </a>
</h4>
